@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

body {
    background: url(../images/bg-mobile.svg) no-repeat top center,
    var(--violet);
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.page {
    height: 100vh;
    text-align: center;
    display: grid;
    place-items: center;
}

.page__logo {
    width: 35%;
    display: flex;
    justify-self: flex-start;
    margin-left: 2rem;
}

.page__image {
    width: 80%;
}

.page__info {
    margin: 0 2.2rem;
}

.page__info-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.page__info-text {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
    padding-block: 0.75rem 1.5rem;
}

.page__info-button{
    background: #fff;
    color: var(--violet);
    font-family: 'Poppins', sans-serif;
    font-size: 0.72rem;
    border: none;
    border-radius: 2rem;
    padding: 0.75rem 4.75rem;
    box-shadow: 0px 2px 4px 1px rgb(65 35 142 / 75%);
}

.page__social-button {
    color: #fff;
    font-size: 0.75rem;
    text-align: center;
    height: 1.75rem;
    width: 1.75rem;
    background: none;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0.15rem;
}

/* To-do:
    - desktop layout
        - active state */